////////////////////////////////
// COLORS
$color-primary-1: hsl(1, 90%, 64%);
$color-primary-2: hsl(219, 85%, 26%);

$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(210, 60%, 98%);
$color-neutral-3: hsl(211, 68%, 94%);
$color-neutral-4: hsl(205, 33%, 90%);
$color-neutral-5: hsl(219, 14%, 63%);
$color-neutral-6: hsl(219, 12%, 42%);
$color-neutral-7: hsl(224, 21%, 14%);

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Plus Jakarta Sans", sans-serif;
}

body {
	background-color: $color-neutral-2;
	font-size: 1.6rem;
}

.notifications-box {
	background-color: $color-neutral-1;
	margin: 15rem auto;
	max-width: 75rem;
	padding: 3.2rem;
	border-radius: 2rem;
}

.header {
	@include flex(space-between, center);
	margin-bottom: 3.2rem;
}

.wrapper {
	@include flex(center, center);
	gap: 1.2rem;
}

.heading-1 {
	font-size: 2.4rem;
}

.notifications-number {
	padding: 0.2rem 1.2rem;
	border-radius: 5px;
	background-color: $color-primary-2;
	color: $color-neutral-1;
}

.mark-as-read {
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: 1.6rem;
	transition: all 0.2s ease;
	cursor: pointer;

	&:hover {
		color: $color-primary-2;
	}
}

.notifications-container {
}

.notification {
	padding: 1.2rem;
	border-radius: 8px;
	background-color: $color-neutral-2;
	color: $color-neutral-5;
	word-spacing: 2px;

	@include flex(flex-start, center);
	gap: 1.8rem;

	&-img {
		width: 4.8rem;
		height: 4.8rem;
	}

	&-content {
	}

	.profile-name {
		color: $color-neutral-7;
		font-weight: 800;
	}

	.link {
		transition: all 0.2s ease;

		&:link,
		&:visited {
			color: $color-neutral-5;
			text-decoration: none;
			font-weight: 800;
		}

		&:hover,
		&:active {
			color: $color-primary-2;
			cursor: pointer;
		}
	}

	.dot {
		height: 1rem;
		width: 1rem;
		display: inline-block;
		background-color: $color-primary-1;
		border-radius: 50%;
	}

	
}

.notification-time {
	color: $color-neutral-5;
}

footer {
	text-align: center;
}
